.center {

    width: 63%;
    margin: 2px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: left;
    height: auto;
  

}
th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #3ea1ed;
  color: white;
}




